@model OgrenciDersPanosu.Models.Derslik_Gonderi
@{
    ViewBag.Title = "Derslik";
}

<link href="~/Content/Derslik.css" rel="stylesheet" type="text/css" />

<div class="post">
    @Html.ValidationSummary()
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.TextAreaFor(i => i.Gonderi, new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-custom3">Gönder</button>
    }
</div>
<div class="panel panel-primary">
    <table class="table table-striped">
        @{
            OgrenciDersPanosu.identity.IdentityDataContext context = new OgrenciDersPanosu.identity.IdentityDataContext();
            OgrenciDersPanosu.Models.Ders ders = context.Dersler.Find(ViewBag.dersId);
            var gonderiler = new List<OgrenciDersPanosu.Models.Derslik_Gonderi>();
            if (ders.Gonderiler != null)
            {
                gonderiler = ders.Gonderiler.ToList();
            }
            if (gonderiler != null)
            {
                foreach (var gonderi in gonderiler)
                {
                    <tr>
                        <td>
                            @gonderi.gonderenIsmi
                        </td>
                        <td>
                            @gonderi.Gonderi
                        </td>
                    </tr>
                }
            }
        }
    </table>
</div>

